body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.yellow{
    background-color: rgb(228, 228, 117);
}
.red{
    background-color: rgb(107, 35, 35);
}
.green{
    background-color: rgb(31, 79, 31);
}
.purple{
    background-color: rgb(78, 28, 78);
}

.gameflash{
    background-color: white;
}
.userflash{
    background-color: green;
}